<!-- <div class="card card-body mb-3"> -->
<div fxLayout="row" fxLayoutAlign="space-between center">
  <!-- <div> -->
  <div fxFlex="20" *ngFor="let item of thumbNails">
    <mat-card
      class="thumbNail-card"
      [ngStyle]="{ 'background-color': item.backColour }"
    >
      <mat-card-header class="thumbNail-card-header">
        <mat-card-title>
          <div class="card-title-text">{{ item.noOfSales }}</div>
        </mat-card-title>
        <mat-card-title>
          <div class="card-title-text2">{{ item.totalAmount | currency }}</div>
        </mat-card-title>
        <mat-card-title>
          <div class="card-content-text">{{ item.itemName }}</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content-common">
        <div>
          <!-- <i class="fa fa-clock faa-pulse"></i> -->
          <span class="material-icons icon-ref">local_gas_station</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20"></div>
</div>

<br />

<mat-divider></mat-divider>

<br />
<form [formGroup]="searchFormGroup">
  <div class="profile-card">
    <div class="header">
      <h2>Transactions</h2>
    </div>
  </div>
  <!-- <div class="form-row"> -->
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="form-group col-md-2">
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-label>Fuel Grade</mat-label>
        <mat-select placeholder="fuelGrade" formControlName="BlendID">
          <mat-option></mat-option>
          <mat-option *ngFor="let element of fuelGrades" [value]="element.id">
            {{ element?.itemName }}
          </mat-option>
        </mat-select>
        <mat-hint align="start">
          <strong>Filter</strong> by Fuel Grade
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-label>Pump</mat-label>
        <mat-select placeholder="pump" formControlName="PumpID">
          <mat-option></mat-option>
          <mat-option *ngFor="let element of pumps" [value]="element.id">
            {{ element?.itemName }}
          </mat-option>
        </mat-select>
        <mat-hint align="start"> <strong>Filter</strong> by pump </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-label>Terminal</mat-label>
        <mat-select placeholder="terminal" formControlName="TerminalID">
          <mat-option></mat-option>
          <mat-option *ngFor="let element of terminals" [value]="element.id">
            {{ element?.itemName }}
          </mat-option>
        </mat-select>
        <mat-hint align="start"> <strong>Filter</strong> by terminal </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="FromDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-hint align="start">
          <strong>Filter</strong> by From Date
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="ToDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <mat-hint align="start"> <strong>Filter</strong> by To Date </mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="form-group col-md-2">
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <input
          matInput
          placeholder="Search"
          [formControl]="searchInput"
          placeholder="Search"
          class="mat-form-field mat-form-field-fluid"
        />
        <mat-hint align="start"> <strong>Search</strong> by string. </mat-hint>
      </mat-form-field>
    </div>
    <div class="footerButtons" fxLayoutGap="10px">
      <button
        mat-raised-button
        color="accent"
        matTooltip="Search by fields"
        class="m-1 w-100"
        (click)="applyFilter()"
      >
        Apply
      </button>

      <button
        class="btn btn-warning"
        mat-raised-button
        color="btn-warning"
        matTooltip="Search by fields"
        (click)="clearFields()"
      >
        Clear
      </button>
    </div>
  </div>

  <!-- </div> -->
  <!-- <div fxLayout="row" fxLayoutGap="10px">
    
  </div> -->
</form>

<br />
<mat-divider></mat-divider>
<br />

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="65">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="transactionID">
          <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.transactionID }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="terminalID">
          <th mat-header-cell *matHeaderCellDef>Terminal ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.terminalID }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cardNumber">
          <th mat-header-cell *matHeaderCellDef>Card Number</th>
          <td mat-cell *matCellDef="let element">{{ element.cardNumber }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">
            {{ element.amount }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="transactionDate">
          <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.transactionDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fuelGrade">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fuelGrade }}
          </td>
        </ng-container>

        <ng-container matColumnDef="receipt">
          <th mat-header-cell *matHeaderCellDef>Receipt</th>
          <td mat-cell *matCellDef="let element">
            <button
              type="button"
              (click)="openReceipt(element.receipt)"
              mat-icon-button
              color="primary"
              matTooltip="View Receipt"
            >
              <mat-icon>launch</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginatorTR="matPaginator"
        [length]="dataSource.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
  <div fxFlex="35" class="card card-body">
    <mat-card>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Receipt</mat-label>
        <textarea
          matInput
          [formControl]="TRreceipt"
          cdkTextareaAutosize
        ></textarea>
      </mat-form-field>
    </mat-card>
  </div>
</div>

<!-- </div> -->
