table {
  width: 100%;
}

.example-full-width {
  width: 100%;
  height: 100%;
  // background-color: white;
}

.footerButtons {
  // display: flex;
  // align-items: center;
  padding-top: 0.8%;
}

.example-card2 div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0%;
}

.example-card2 div h3 {
  margin: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.example-card2 div h5 {
  margin-left: 5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.thumbNail-card {
  background: #3598dc;
  max-height: 120px;
  padding: 12px;
  overflow: hidden;
  height: 120px;
  cursor: pointer;
}

.icon-ref {
  transition: all 0.3s linear;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 0;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  border: 3px solid;
  padding: 5px;
}

.card-content-common {
  margin-bottom: 1px !important;
}

.card-title-text {
  float: left;
  margin: 0 -15px;
  color: azure;
  font-size: 28px;
  font-weight: lighter;
}

.card-title-text2 {
  color: azure;
  margin-top: 40px;
  margin-right: -100px;
  font-weight: lighter;
}

.card-content-text {
  color: azure;
  font-size: 17px;
  // margin-right: 50px;
  // float: right;
  // font-weight: 500;
  margin-top: 70px;
}

.mat-card-title {
  float: right;
}

.thumbNail-card-header {
  float: right;
}

.searchClass {
  display: block;
}
