<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{ user.userName }}</h2>
      <h4>{{ user.id }}</h4>
    </div>
    <img
      src="https://icon-library.com/images/unknown-person-icon/unknown-person-icon-4.jpg"
      alt="Soufiane FADIL" class="imgClass"
    />
  </div>

  <mat-divider></mat-divider>

  <!-- <h2 matSubheader>Pages</h2> -->
<div>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default"
    ><mat-icon>dashboard</mat-icon><span>Dashboard</span></a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/default/transactions"
    ><mat-icon>bar_chart</mat-icon><span>Transactions</span></a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/default/dispenserStatus"
    ><mat-icon>local_gas_station</mat-icon><span>Dispenser Status</span></a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/default/tankInformation"
    ><mat-icon>av_timer</mat-icon><span>Tank Information</span></a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/default/terminals"
    ><mat-icon>vignette</mat-icon><span>Terminal Status</span></a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/default/updateRecords"
    ><mat-icon><span class="material-icons">price_change</span></mat-icon><span>Update Prices</span></a
  >


  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/default/createUser"
    onMouseOver="this.style.color='#000'"
    ><mat-icon>person</mat-icon><span>Create User</span></a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/default/reports"
    onMouseOver="this.style.color='#000'"
    ><mat-icon>person</mat-icon><span>Reports</span></a
  >

</div>
  

  

  
  <!-- <mat-divider></mat-divider> -->

  <!-- <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

  another menu -->
</mat-nav-list>
