.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

table {
  width: 100%;
}

.selectClass {
  width: 30%;
}

.secondMat {
  margin-left: 2%;
}

.list-style {
  list-style-type: none;
  font-weight: bold;
}

.example-card2 div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0%;
}

.example-card2 div h3 {
  margin: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.example-card2 div h5 {
  margin-left: 5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.itemsClass {
  font-size: 21px;
  // font-size: 19px;
  // font-weight: bolder;
  font-family: sans-serif;
//   display: flex;
// align-items: center;
// justify-content: center;
}

.prtitle {
  font-size: 21px;
  font-weight: revert;
  font-family: sans-serif;
  color: white;
}

.labelClass{
//   display: flex;
// justify-content: center;
}

.prValue {
  // font-size: 22px;
  font-size: 21px;
  font-weight: revert;
  // // font-family: monospace;
  font-family: sans-serif;
  color: #9df49d;
  // padding-left: 30%;
}

.thumbNail-card {
  background: #3598dc;
  max-height: 120px;
  padding: 12px;
  overflow: hidden;
  height: 120px;
  cursor: pointer;
}

.icon-ref {
  transition: all 0.3s linear;
  position: absolute;
  top: 25px;
  // left: 25px;
  z-index: 0;
  // font-size: 80px;
  color: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  border: 3px solid;
  padding: 5px;
}

.card-content-common {
  margin-bottom: 1px !important;
}

.card-title-text {
  float: left;
  margin: 0 -15px;
  color: azure;
  font-size: 28px;
  font-weight: lighter;
}

.card-title-text2 {
  color: azure;
  margin-top: 40px;
  margin-right: -100px;
  font-weight: lighter;
}

.card-content-text {
  color: azure;
  font-size: 17px;
  // margin-right: 50px;
  // float: right;
  // font-weight: 500;
  margin-top: 70px;
}

.mat-card-title {
  float: right;
}

.thumbNail-card-header {
  float: right;
}

.clearbtn {
  margin-left: 10px;
  background-color: white;
  color: black;
}

.updateBtn {
  background-color: #1f3683;
  color: white;
}

.searchClass {
  display: block;
}

.cardTextClass{
  float: right;
  line-height: 22px;
  font-family: sans-serif;
  // margin-right: 5%;
}

.columnClass {
  margin-right: 9px;
}

.columnClassValue {
  color: white;
}

.card-title-1 {
  color: white;
    font-weight: lighter;
    
    margin-bottom: 8px;
}

.card-title-1-value{
  // color: white;
    font-weight: lighter;
    
    margin-bottom: 8px;
}

.card-title1-fontSize {
  font-size: 19px;
}

.card-title-2 {
  color: white;
    font-weight: lighter;
    
}

.card-title-2-value {
  // color: white;
  font-weight: lighter;
    // font-weight: lighter;
    
    // float: right;
}

.card-title2-fontSize {
  font-size: 13px;
}

.icon-ref-Size {
  left: 25px;
  font-size: 80px;
}
