<div fxLayout="row" fxLayoutAlign="space-between center">
  <!-- <div> -->
  <div fxFlex="24" *ngFor="let item of thumbNails">
    <mat-card
      class="thumbNail-card"
      [ngStyle]="{ 'background-color': item.backColour }"
    >
      <mat-card-header class="thumbNail-card-header">
        <mat-card-title>
          <div class="card-title-text">{{ item.noOfSales }}</div>
        </mat-card-title>
        <mat-card-title>
          <div class="card-title-text2">{{ item.totalAmount | currency }}</div>
        </mat-card-title>
        <mat-card-title>
          <div class="card-content-text">{{ item.itemName }}</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content-common">
        <div>
          <!-- <i class="fa fa-clock faa-pulse"></i> -->
          <span class="material-icons icon-ref">local_gas_station</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="24" *ngIf="thumbNails.length < 4"></div>
</div>

<br />

<mat-divider></mat-divider>

<br />

<div fxLayout="row" fxLayoutGap="20px">
  <div fxFlex="80">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef class="mat-column-one">
            Serial #
          </th>
          <td mat-cell *matCellDef="let element" class="mat-column-one">
            {{ element.serieal }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ipAddress">
          <th mat-header-cell *matHeaderCellDef class="mat-column-two">
            IP Address
          </th>
          <td mat-cell *matCellDef="let element" class="mat-column-two">
            {{ element.ipAddress }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="paperLevel">
          <th mat-header-cell *matHeaderCellDef class="mat-column-three">
            Paper Level
          </th>
          <td mat-cell *matCellDef="let element" class="mat-column-three">
            <mat-progress-bar
              class="audio-progress-bar"
              [mode]="mode"
              [value]="element.paperLevel"
            >
            </mat-progress-bar>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="printerStatus">
          <th mat-header-cell *matHeaderCellDef class="mat-column-four">
            Printer Status
          </th>
          <td mat-cell *matCellDef="let element" class="mat-column-four">
            <span
              class="dot"
              [ngStyle]="{
                'background-color':
                  element.printerStatus == 'idle' ? 'green' : 'red'
              }"
            ></span>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="terminalStatus">
          <th mat-header-cell *matHeaderCellDef class="mat-column-five">
            Terminal Status
          </th>
          <td mat-cell *matCellDef="let element" class="mat-column-five"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginatorTNK="matPaginator"
        [length]="dataSource.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<br />

<mat-divider></mat-divider>

<br />
