

.thumbNail-card {
  background: #3598dc;
  max-height: 120px;
  padding: 12px;
  overflow: hidden;
  height: 120px;
  cursor: pointer;
}

.icon-ref {
  transition: all 0.3s linear;
  position: absolute;
  top: 25px;
  // left: 25px;
  z-index: 0;
  // font-size: 80px;
  color: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  border: 3px solid;
  padding: 5px;
}

.card-content-common {
  margin-bottom: 1px !important;
}

.mat-card-title {
  float: right;
}

.thumbNail-card-header {
  float: right;
}

table {
  width: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 10%;
}

.audio-progress-bar {
  &.mat-progress-bar {
    height: 14px;
    // border-radius: 40px;
  }

  .mat-progress-bar-fill::after {
    background-color: rgb(15, 154, 51);
  }

  .mat-progress-bar-buffer {
    background-color: #d7f1e0;
  }

  /* remove animation and the dots*/
  .mat-progress-bar-background {
    animation: none;
    background-color: #eceff1;
    fill: #eceff1;
  }
}

.mat-column-one {
  &.mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.mat-column-two {
  &.mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.mat-column-three {
  &.mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.mat-column-four {
  &.mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.mat-column-five {
  &th.mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cardTextClass{
  float: right;
  line-height: 22px;
  font-family: sans-serif;
  // margin-right: 5%;
}

.columnClass {
  margin-right: 9px;
}

.columnClassValue {
  color: white;
}

.card-title-1 {
  color: white;
    font-weight: lighter;
    
    margin-bottom: 8px;
}

.card-title-1-value{
  // color: white;
    font-weight: lighter;
    
    margin-bottom: 8px;
}

.card-title1-fontSize {
  font-size: 19px;
}

.card-title-2 {
  color: white;
    font-weight: lighter;
    
}

.card-title-2-value {
  // color: white;
  font-weight: lighter;
    // font-weight: lighter;
    
    // float: right;
}

.card-title2-fontSize {
  font-size: 13px;
}

.icon-ref-Size {
  left: 25px;
  font-size: 80px;
}
