<div fxLayout="row" fxLayoutAlign="space-between center">
  <!-- <div> -->
  <div fxFlex="25" *ngFor="let item of thumbNails">
    <mat-card
      class="thumbNail-card"
      [ngStyle]="{ 'background-color': item.backColour }"
    >
      <mat-card-header class="thumbNail-card-header">
        <mat-card-title>
          <div class="card-title-text">{{ item.noOfSales }}</div>
        </mat-card-title>
        <mat-card-title>
          <div class="card-title-text2">{{ item.totalAmount | currency }}</div>
        </mat-card-title>
        <mat-card-title>
          <div class="card-content-text">{{ item.itemName }}</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content-common">
        <div>
          <!-- <i class="fa fa-clock faa-pulse"></i> -->
          <span class="material-icons icon-ref">local_gas_station</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20"></div>
</div>

<br />

<mat-divider></mat-divider>

<br />

<div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="10px">
  <div fxFlex="40">
    <app-widget-pie
      [data]="pieChartInfo"
      [title]="title3"
      [colours]="pieColours"
    ></app-widget-pie>
  </div>
  <div fxFlex="30">
    <app-widget-column
      [data]="columnChartInfo"
      [categories]="categories"
      [title]="title4"
      [colours]="colours"
    ></app-widget-column>
  </div>
  <div fxFlex="30">
    <app-widget-column
      [data]="columnTerminals"
      [categories]="catTerminals"
      [title]="title5"
      [colours]="colours"
    ></app-widget-column>
  </div>
</div>

<br />

<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
  <div fxFlex="74">
    <app-widget-line
      [data]="currentSalesInfo"
      [title]="title1"
    ></app-widget-line>
  </div>
</div>

<br />
<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
  <div fxFlex="74">
    <app-widget-line [data]="avgSalesInfo" [title]="title2"></app-widget-line>
  </div>
</div>

<br />
<br />
