<div fxLayout="row" fxLayoutAlign="space-between center">
  <!-- <div> -->
  <div fxFlex="24" *ngFor="let item of thumbNails">
    <mat-card
      class="thumbNail-card"
      [ngStyle]="{ 'background-color': item.backColour}"
    >
      <div fxLayout="row" class="cardTextClass">
        <div>
          <mat-card-title fxLayout="column" class="columnClass">
            <div class="card-title-1 card-title1-fontSize">{{ item.itemName }}</div>
            <div class="card-title-2 card-title2-fontSize">No of Sales</div>
            <div class="card-title-2 card-title2-fontSize">Unit Price</div>
          </mat-card-title>
        </div>
        <div>
          <mat-card-title
            fxLayout="column"
            fxLayoutAlign="space-between end"
            class="columnClassValue"
          >
            <div class="card-title-1-value card-title1-fontSize">
              {{ item.noOfSales | currency }}
            </div>
            <div class="card-title-2-value card-title2-fontSize">
              {{ item.totalAmount | currency }}
            </div>
            <div class="card-title-2-value card-title2-fontSize">
              {{ item.productPrice | currency }}
            </div>
          </mat-card-title>
        </div>
      </div>

      <mat-card-content class="card-content-common">
        <div>
          <!-- <i class="fa fa-clock faa-pulse"></i> -->
          <span class="material-icons icon-ref icon-ref-Size">local_gas_station</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="24" *ngIf="thumbNails.length < 4"></div>
</div>

<br />

<mat-divider></mat-divider>

<br />

<div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="10px">
  <div fxFlex="40">
    <app-widget-pie
      [data]="pieChartInfo"
      [title]="title3"
      [colours]="pieColours"
    ></app-widget-pie>
  </div>
  <div fxFlex="30">
    <app-widget-column
      [data]="columnChartInfo"
      [categories]="categories"
      [title]="title4"
      [colours]="colours"
    ></app-widget-column>
  </div>
  <div fxFlex="30">
    <app-widget-column
      [data]="columnTerminals"
      [categories]="catTerminals"
      [title]="title5"
      [colours]="colours"
    ></app-widget-column>
  </div>
</div>

<br />

<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
  <div fxFlex="70">
    <app-widget-line
      [data]="currentSalesInfo"
      [title]="title1"
    ></app-widget-line>
  </div>
  <div fxFlex="30">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourcePump">
        <!-- Position Column -->
        <ng-container matColumnDef="pumpID">
          <th mat-header-cell *matHeaderCellDef>PumpID</th>
          <td mat-cell *matCellDef="let element">{{ element.pumpID }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastTransTime">
          <th mat-header-cell *matHeaderCellDef>Last Transaction Time</th>
          <td mat-cell *matCellDef="let element">{{ element.lastTransTime }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="idleHours">
          <th mat-header-cell *matHeaderCellDef>Idle Time(Hrs)</th>
          <td mat-cell *matCellDef="let element">{{ element.idleHours }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPump"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPump"></tr>
      </table>

      <mat-paginator
        #paginatorPump="matPaginator"
        [length]="dataSourcePump.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<br />
<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
  <div fxFlex="70">
    <app-widget-line [data]="avgSalesInfo" [title]="title2"></app-widget-line>
  </div>
  <div fxFlex="30">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceTerminal">
        <!-- Position Column -->
        <ng-container matColumnDef="terminalID">
          <th mat-header-cell *matHeaderCellDef>TerminalID</th>
          <td mat-cell *matCellDef="let element">{{ element.terminalID }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastTransTime">
          <th mat-header-cell *matHeaderCellDef>Last Transaction Time</th>
          <td mat-cell *matCellDef="let element">{{ element.lastTransTime }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="idleHours">
          <th mat-header-cell *matHeaderCellDef>Idle Time(Hrs)</th>
          <td mat-cell *matCellDef="let element">{{ element.idleHours }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTerminal"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTerminal"></tr>
      </table>

      <mat-paginator
        #paginatorTerminal="matPaginator"
        [length]="dataSourceTerminal.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<br />
<br />
