table {
  width: 100%;
}

.example-card2 div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0%;
}

.example-card2 div h3 {
  margin: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.example-card2 div h5 {
  margin-left: 5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.footerButtons {
  padding-top: 0.8%;
}

h2 {
  font-weight: 400;
}
