img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

table {
  width: 100%;
}

.primaryBtn {
  background-color: #999901;
  color: rgb(252, 248, 248);
}

.accentBtn {
  background-color: #1f3683;
  color: white;
}

.clearbtn {
  margin-top: 10px;
  min-width: -webkit-fill-available;
  background-color: white;
  color: black;
}

.subtitleClass{
  display: flex;
  justify-content: right;
}
