<app-thumbnails></app-thumbnails>

<br />

<mat-divider></mat-divider>

<br />

<form [formGroup]="reportsFormGroup">
  <div class="profile-card">
    <div class="header">
      <h2>{{ disp }}</h2>
    </div>
  </div>
  <!-- <div class="form-row"> -->
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="form-group col-md-2">
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="FromDate" [max]="reportsFormGroup.getRawValue().ToDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="reportsFormGroup.controls.FromDate.hasError('matDatepickerMax')"
              >From Date should be less than To Date
            </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2">
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="ToDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <!-- <mat-hint align="start"> <strong>Filter</strong> by To Date </mat-hint> -->
        
      </mat-form-field>
    </div>
    <div class="footerButtons" fxLayoutGap="10px">
      <button
        mat-raised-button
        color="accent"
        matTooltip="Search by fields"
        class="m-1 w-100"
        (click)="getReport('open')"
        [disabled]="!reportsFormGroup.getRawValue().FromDate || !reportsFormGroup.getRawValue().ToDate"
      >
        Open Report
      </button>
      <button
        mat-raised-button
        color="primary"
        matTooltip="Search by fields"
        class="m-1 w-100"
        (click)="getReport('download')"
        [disabled]="!reportsFormGroup.getRawValue().FromDate || !reportsFormGroup.getRawValue().ToDate"
      >
        Download Report
      </button>

      <button
        mat-raised-button
        color="warn"
        matTooltip="Search by fields"
        class="m-1 w-100"
        (click)="getReport('print')"
        [disabled]="!reportsFormGroup.getRawValue().FromDate || !reportsFormGroup.getRawValue().ToDate"
      >
        Print Report
      </button>

      <button
        class="btn btn-warning"
        mat-raised-button
        color="btn-warning"
        matTooltip="Search by fields"
        (click)="clearFieldsDel()"
      >
        Clear
      </button>
    </div>
  </div>
</form>
