:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
  // background-color: rgb(237, 231, 237);
  // background-color: rgb(133, 128, 128);
}

// .footerClass {
//   background: #009688;
// }

.sideBarClass{
  // background-color: rgb(33, 33, 92);
  // background-color: rgb(47, 47, 120);
  background-color: #303063;
}
