img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.clearbtn {
  margin-top: 10px;
}

// #inner {
//   border: 1px solid black;
// }

.outer {
  // border: 1px solid red;
  margin-top: 15%;
  // align-content: center;
  // width: 100%;
  // display: flex;
  // justify-content: center;
}

form {
  justify-content: center;
}

mat-card {
  border: 1px solid rgb(22, 21, 21);
}

// #inner {
//   width: 50%;
//   margin: 0 auto;
// }

// .swal-height {
//   height: 40vh;
// }

footer {
  padding: 20px;
}

.footerClass{
  bottom: 0;
  position: fixed;
}

