.example-card2 div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0%;
}

.example-card2 div h3 {
  margin: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.example-card2 div h5 {
  margin-left: 5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
}

.widget-Class {
  font-family: Verdana, sans;
  font-size: 9 to 0;
}
